
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
              Student Id(@ViewBag.itemid)
        </h5>

        <!-- Floating Labels Form -->
        <div class="row g-3 ">


            <input hidden name="stid" value="@ViewBag.itemid" />

                   
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="form-floating">
                        <input value="" name="file1" type="file" class="form-control" id="floatingCity" placeholder="Aadhaar Card">
                                <label for="floatingCity">Aadhaar Card</label>
                            </div>
                        </div>
                    </div>



           
        </div><!-- End floating Labels Form -->

    </div>
</div>

<div class="modal-footer">
    <input type="submit" value="Save" class="btn btn-primary">
</div>